.app-wrapper {
  width: 1080px;
  height: auto;
  margin: 0 auto;
  display: grid;
  grid-template: 30% 1fr / 3fr 17fr;
  grid-template-areas:
  "h h"
  "s m";
}

.app-wrapper-content{
  background-color: salmon;
}