.general {
    background-color: slategrey;
    padding: 15px;
}

.item {
    padding: 5px;
}

.item a {
    font-size: 20px;
    color: darkmagenta;
    text-decoration: none;
}

.item a.active {
    color: yellow;
}
.item img {
    padding: 0px;
    width: 60px;
    height: 60px;
    object-fit: cover;
    border: 3px solid blueviolet;
    border-radius: 50%;
}