.Header {
    grid-area: h;
    background-color: aqua;
    height: 100px;
}

.Header img {
    width: 100px;
}

.item {
    float: right;
}

.item a {
    font-weight: bold;
    color: orange;
    text-decoration: none;
    font-size: 18px;
}

.item a:hover {
    color: darkorange;
    transition: 0.3s;
}